In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, confusion_matrix
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
# Criar a conexão usando SQLAlchemy

engine = create_engine('mysql+mysqlconnector://root:root@localhost/classificador')
# Executar a query e carregar os dados para um DataFrame

query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)

In [2]:
mapeamento = {
    'Concluso': 1,
    'Ausência da Parte Adversa': 2,
    'Redesignação': 3,
    'Leitura de Sentença': 4,
    'Acordo Realizado': 5,
    'Audiência Cancelada': 6,
    'PA Gerada Indevidamente': 7,
    'Desistência Ação': 8,
    'Sentença': 9,
    'Suspenso': 10,
    'Recurso Parte Contrária': 11
}
# Troca dos valores na coluna 'classificado' usando o mapeamento

df['classificado'] = df['classificado'].replace(mapeamento)
# Limitar a quantidade de registros para 'Concluso' (1) a 2500

In [3]:
concluso_subset = df[df['classificado'] == 1].sample(n=1500, random_state=100)
other_records = df[df['classificado'] != 1]
df = pd.concat([concluso_subset, other_records])

In [4]:
df

                                                textfull  classificado
1216   2o vara sistema juizados especiais civeis crim...             1
8102   podier judiciario m agoas juizo direito centro...             1
1425   tribunal justica estado bahia poder judiciario...             1
16833  tjba pje processo judicial eletronico numero 8...             1
15927  tribunal justica estado bahia poder judiciario...             1
...                                                  ...           ...
26058  bz secretaria justica cidadania sp fundacao fu...             2
26060  tribunal justica pernambuco pje processo judic...             2
26063  coordenadoria municipal defesa consumidor proc...             7
26068  n 3lnisnv v s 041373 3 si3aow onsidini ojueoug...             2
26069  21 06 2022 11 37 visualizar ata procon joao pe...             2

[9303 rows x 2 columns]

In [5]:
counts = df.groupby('Classificado').size().reset_index(name='Contagem')
 
counts_sorted = counts.sort_values(by='Contagem', ascending=False)
 
classificados_ordenados = counts_sorted['Classificado'].tolist()
 
df_ordenado = df[df['Classificado'].isin(classificados_ordenados)]

KeyError: 'Classificado'

In [6]:
counts = df.groupby('Classificado').size().reset_index(name='Contagem')

KeyError: 'Classificado'

In [7]:
counts = df.groupby('classificado').size().reset_index(name='Contagem')
 
counts_sorted = counts.sort_values(by='Contagem', ascending=False)
 
classificados_ordenados = counts_sorted['classificado'].tolist()
 
df_ordenado = df[df['classificado'].isin(classificados_ordenados)]

In [8]:
df_ordenado

                                                textfull  classificado
1216   2o vara sistema juizados especiais civeis crim...             1
8102   podier judiciario m agoas juizo direito centro...             1
1425   tribunal justica estado bahia poder judiciario...             1
16833  tjba pje processo judicial eletronico numero 8...             1
15927  tribunal justica estado bahia poder judiciario...             1
...                                                  ...           ...
26058  bz secretaria justica cidadania sp fundacao fu...             2
26060  tribunal justica pernambuco pje processo judic...             2
26063  coordenadoria municipal defesa consumidor proc...             7
26068  n 3lnisnv v s 041373 3 si3aow onsidini ojueoug...             2
26069  21 06 2022 11 37 visualizar ata procon joao pe...             2

[9303 rows x 2 columns]

In [9]:
df

                                                textfull  classificado
1216   2o vara sistema juizados especiais civeis crim...             1
8102   podier judiciario m agoas juizo direito centro...             1
1425   tribunal justica estado bahia poder judiciario...             1
16833  tjba pje processo judicial eletronico numero 8...             1
15927  tribunal justica estado bahia poder judiciario...             1
...                                                  ...           ...
26058  bz secretaria justica cidadania sp fundacao fu...             2
26060  tribunal justica pernambuco pje processo judic...             2
26063  coordenadoria municipal defesa consumidor proc...             7
26068  n 3lnisnv v s 041373 3 si3aow onsidini ojueoug...             2
26069  21 06 2022 11 37 visualizar ata procon joao pe...             2

[9303 rows x 2 columns]

In [10]:
counts = df.groupby('classificado').size().reset_index(name='Contagem')

In [11]:
counts

    classificado  Contagem
0              1      1500
1              2      2307
2              3      1127
3              4      1258
4              5      1146
5              6        67
6              7      1110
7              8       248
8              9       523
9             10        11
10            11         6

In [12]:
engine = create_engine('mysql+mysqlconnector://root:root@localhost/classificador')
# Executar a query e carregar os dados para um DataFrame

query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)
# Mapeamento das classes

mapeamento = {
    'Concluso': 1,
    'Ausência da Parte Adversa': 2,
    'Redesignação': 3,
    'Leitura de Sentença': 4,
    'Acordo Realizado': 5,
    'Audiência Cancelada': 6,
    'PA Gerada Indevidamente': 7,
    'Desistência Ação': 8,
    'Sentença': 9,
    'Suspenso': 10,
    'Recurso Parte Contrária': 11
}
# Troca dos valores na coluna 'classificado' usando o mapeamento

df['classificado'] = df['classificado'].replace(mapeamento)
# Limitar a quantidade de registros para 'Concluso' (1) a 2500

concluso_subset = df[df['classificado'] == 1].sample(n=3500, random_state=100)
other_records = df[df['classificado'] != 1]
df = pd.concat([concluso_subset, other_records])

In [13]:
df

                                                textfull  classificado
1216   2o vara sistema juizados especiais civeis crim...             1
8102   podier judiciario m agoas juizo direito centro...             1
1425   tribunal justica estado bahia poder judiciario...             1
16833  tjba pje processo judicial eletronico numero 8...             1
15927  tribunal justica estado bahia poder judiciario...             1
...                                                  ...           ...
26058  bz secretaria justica cidadania sp fundacao fu...             2
26060  tribunal justica pernambuco pje processo judic...             2
26063  coordenadoria municipal defesa consumidor proc...             7
26068  n 3lnisnv v s 041373 3 si3aow onsidini ojueoug...             2
26069  21 06 2022 11 37 visualizar ata procon joao pe...             2

[11303 rows x 2 columns]

In [14]:
counts = df.groupby('classificado').size().reset_index(name='Contagem')

In [15]:
counts

    classificado  Contagem
0              1      3500
1              2      2307
2              3      1127
3              4      1258
4              5      1146
5              6        67
6              7      1110
7              8       248
8              9       523
9             10        11
10            11         6

In [16]:
counts_sorted = counts.sort_values(by='Contagem', ascending=False)

In [17]:
counts_sorted

    classificado  Contagem
0              1      3500
1              2      2307
3              4      1258
4              5      1146
2              3      1127
6              7      1110
8              9       523
7              8       248
5              6        67
9             10        11
10            11         6

In [18]:
counts_sorted = counts.sort_values(by='Contagem', ascending=True)

In [19]:
counts_sorted

    classificado  Contagem
10            11         6
9             10        11
5              6        67
7              8       248
8              9       523
6              7      1110
2              3      1127
4              5      1146
3              4      1258
1              2      2307
0              1      3500

In [20]:
classificados_ordenados = counts_sorted['classificado'].tolist()

In [21]:
classificados_ordenados

[11, 10, 6, 8, 9, 7, 3, 5, 4, 2, 1]

In [22]:
df_ordenado = df[df['classificado'].isin(classificados_ordenados)]

In [23]:
df_ordenado

                                                textfull  classificado
1216   2o vara sistema juizados especiais civeis crim...             1
8102   podier judiciario m agoas juizo direito centro...             1
1425   tribunal justica estado bahia poder judiciario...             1
16833  tjba pje processo judicial eletronico numero 8...             1
15927  tribunal justica estado bahia poder judiciario...             1
...                                                  ...           ...
26058  bz secretaria justica cidadania sp fundacao fu...             2
26060  tribunal justica pernambuco pje processo judic...             2
26063  coordenadoria municipal defesa consumidor proc...             7
26068  n 3lnisnv v s 041373 3 si3aow onsidini ojueoug...             2
26069  21 06 2022 11 37 visualizar ata procon joao pe...             2

[11303 rows x 2 columns]

In [24]:
df

                                                textfull  classificado
1216   2o vara sistema juizados especiais civeis crim...             1
8102   podier judiciario m agoas juizo direito centro...             1
1425   tribunal justica estado bahia poder judiciario...             1
16833  tjba pje processo judicial eletronico numero 8...             1
15927  tribunal justica estado bahia poder judiciario...             1
...                                                  ...           ...
26058  bz secretaria justica cidadania sp fundacao fu...             2
26060  tribunal justica pernambuco pje processo judic...             2
26063  coordenadoria municipal defesa consumidor proc...             7
26068  n 3lnisnv v s 041373 3 si3aow onsidini ojueoug...             2
26069  21 06 2022 11 37 visualizar ata procon joao pe...             2

[11303 rows x 2 columns]

In [25]:
df_ordenado.reset_index(drop=True, inplace=True)

In [26]:
df_ordenado

                                                textfull  classificado
0      2o vara sistema juizados especiais civeis crim...             1
1      podier judiciario m agoas juizo direito centro...             1
2      tribunal justica estado bahia poder judiciario...             1
3      tjba pje processo judicial eletronico numero 8...             1
4      tribunal justica estado bahia poder judiciario...             1
...                                                  ...           ...
11298  bz secretaria justica cidadania sp fundacao fu...             2
11299  tribunal justica pernambuco pje processo judic...             2
11300  coordenadoria municipal defesa consumidor proc...             7
11301  n 3lnisnv v s 041373 3 si3aow onsidini ojueoug...             2
11302  21 06 2022 11 37 visualizar ata procon joao pe...             2

[11303 rows x 2 columns]

In [27]:
import pandas as pd

# Supondo que seu DataFrame seja chamado df
# Contagem de ocorrências de cada tipo de 'Classificado'
counts = df['classificado'].value_counts().reset_index()
counts.columns = ['classificado', 'Contagem']

# Ordenando pela contagem em ordem decrescente
counts_sorted = counts.sort_values(by='Contagem', ascending=False)

# Criando um DataFrame vazio
df_ordenado = pd.DataFrame()

# Iterando pelos tipos de 'Classificado' ordenados
for classificado in counts_sorted['classificado']:
    # Filtrando e concatenando os dados ordenadamente no DataFrame novo
    df_ordenado = pd.concat([df_ordenado, df[df['classificado'] == classificado]])

# Resetando o índice do DataFrame ordenado
df_ordenado.reset_index(drop=True, inplace=True)

In [28]:
df_ordenado

                                                textfull  classificado
0      2o vara sistema juizados especiais civeis crim...             1
1      podier judiciario m agoas juizo direito centro...             1
2      tribunal justica estado bahia poder judiciario...             1
3      tjba pje processo judicial eletronico numero 8...             1
4      tribunal justica estado bahia poder judiciario...             1
...                                                  ...           ...
11298  9 39 2 s 9d 90 9 2 9 3 2 tribunal justica esta...            11
11299  9 39 2 s 9d j b diodi lpiat tribunal justica e...            11
11300  9 39 2 s 9d 90 9 2 9 3 2 tribunal justica esta...            11
11301  tribunal justica pernambuco pje processo judic...            11
11302  tribunal justica estado minas gerais juizado e...            11

[11303 rows x 2 columns]

In [29]:
import pandas as pd

# Supondo que seu DataFrame seja chamado df
# Contagem de ocorrências de cada tipo de 'Classificado'
counts = df['classificado'].value_counts().reset_index()
counts.columns = ['classificado', 'Contagem']

# Ordenando pela contagem em ordem decrescente
counts_sorted = counts.sort_values(by='Contagem', ascending=True)

# Criando um DataFrame vazio
df_ordenado = pd.DataFrame()

# Iterando pelos tipos de 'Classificado' ordenados
for classificado in counts_sorted['classificado']:
    # Filtrando e concatenando os dados ordenadamente no DataFrame novo
    df_ordenado = pd.concat([df_ordenado, df[df['classificado'] == classificado]])

# Resetando o índice do DataFrame ordenado
df_ordenado.reset_index(drop=True, inplace=True)

In [30]:
df_ordenado

                                                textfull  classificado
0      tribunal justica estado ceara pje processo jud...            11
1      9 39 2 s 9d 90 9 2 9 3 2 tribunal justica esta...            11
2      9 39 2 s 9d j b diodi lpiat tribunal justica e...            11
3      9 39 2 s 9d 90 9 2 9 3 2 tribunal justica esta...            11
4      tribunal justica pernambuco pje processo judic...            11
...                                                  ...           ...
11298  dt tribunal justica paraiba u pje processo jud...             1
11299  termo audiencia 1o vara civel comarca vitoria ...             1
11300  tribunal justica estado ceara pje processo jud...             1
11301  d tribunal justica paraiba u pje processo judi...             1
11302  7 poder judiciario estado bahia vara sistema j...             1

[11303 rows x 2 columns]

In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, confusion_matrix
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
# Criar a conexão usando SQLAlchemy

engine = create_engine('mysql+mysqlconnector://root:root@localhost/classificador')
# Executar a query e carregar os dados para um DataFrame

query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)
# Mapeamento das classes

mapeamento = {
    'Concluso': 1,
    'Ausência da Parte Adversa': 2,
    'Redesignação': 3,
    'Leitura de Sentença': 4,
    'Acordo Realizado': 5,
    'Audiência Cancelada': 6,
    'PA Gerada Indevidamente': 7,
    'Desistência Ação': 8,
    'Sentença': 9,
    'Suspenso': 10,
    'Recurso Parte Contrária': 11
}
# Troca dos valores na coluna 'classificado' usando o mapeamento

df['classificado'] = df['classificado'].replace(mapeamento)
# Limitar a quantidade de registros para 'Concluso' (1) a 2500

concluso_subset = df[df['classificado'] == 1].sample(n=5500, random_state=100)
other_records = df[df['classificado'] != 1]
df = pd.concat([concluso_subset, other_records])

In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, confusion_matrix
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
# Criar a conexão usando SQLAlchemy

engine = create_engine('mysql+mysqlconnector://root:root@localhost/classificador')
# Executar a query e carregar os dados para um DataFrame

query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)
# Mapeamento das classes

mapeamento = {
    'Concluso': 1,
    'Ausência da Parte Adversa': 2,
    'Redesignação': 3,
    'Leitura de Sentença': 4,
    'Acordo Realizado': 5,
    'Audiência Cancelada': 6,
    'PA Gerada Indevidamente': 7,
    'Desistência Ação': 8,
    'Sentença': 9,
    'Suspenso': 10,
    'Recurso Parte Contrária': 11
}
# Troca dos valores na coluna 'classificado' usando o mapeamento

df['classificado'] = df['classificado'].replace(mapeamento)
# Limitar a quantidade de registros para 'Concluso' (1) a 2500

concluso_subset = df[df['classificado'] == 1].sample(n=2500, random_state=100)
other_records = df[df['classificado'] != 1]
df = pd.concat([concluso_subset, other_records])
counts = df['classificado'].value_counts().reset_index()
counts.columns = ['classificado', 'Contagem']
counts_sorted = counts.sort_values(by='Contagem', ascending=True)

In [33]:
counts_sorted

    classificado  Contagem
10            11         6
9             10        11
8              6        67
7              8       248
6              9       523
5              7      1110
4              3      1127
3              5      1146
2              4      1258
1              2      2307
0              1      2500

In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, confusion_matrix
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
# Criar a conexão usando SQLAlchemy

engine = create_engine('mysql+mysqlconnector://root:root@localhost/classificador')
# Executar a query e carregar os dados para um DataFrame

query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)
# Mapeamento das classes

mapeamento = {
    'Concluso': 1,
    'Ausência da Parte Adversa': 2,
    'Redesignação': 3,
    'Leitura de Sentença': 4,
    'Acordo Realizado': 5,
    'Audiência Cancelada': 6,
    'PA Gerada Indevidamente': 7,
    'Desistência Ação': 8,
    'Sentença': 9,
    'Suspenso': 10,
    'Recurso Parte Contrária': 11
}
# Troca dos valores na coluna 'classificado' usando o mapeamento

df['classificado'] = df['classificado'].replace(mapeamento)
# Limitar a quantidade de registros para 'Concluso' (1) a 2500

concluso_subset = df[df['classificado'] == 1].sample(n=1500, random_state=100)
other_records = df[df['classificado'] != 1]
df = pd.concat([concluso_subset, other_records])
counts = df['classificado'].value_counts().reset_index()
counts.columns = ['classificado', 'Contagem']
counts_sorted = counts.sort_values(by='Contagem', ascending=True)
df_ordenado = pd.DataFrame()

In [35]:
counts_sorted

    classificado  Contagem
10            11         6
9             10        11
8              6        67
7              8       248
6              9       523
5              7      1110
4              3      1127
3              5      1146
2              4      1258
1              1      1500
0              2      2307

In [36]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, confusion_matrix
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
# Criar a conexão usando SQLAlchemy

engine = create_engine('mysql+mysqlconnector://root:root@localhost/classificador')
# Executar a query e carregar os dados para um DataFrame

query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)
# Mapeamento das classes

mapeamento = {
    'Concluso': 1,
    'Ausência da Parte Adversa': 2,
    'Redesignação': 3,
    'Leitura de Sentença': 4,
    'Acordo Realizado': 5,
    'Audiência Cancelada': 6,
    'PA Gerada Indevidamente': 7,
    'Desistência Ação': 8,
    'Sentença': 9,
    'Suspenso': 10,
    'Recurso Parte Contrária': 11
}
# Troca dos valores na coluna 'classificado' usando o mapeamento
#df['classificado'] = df['classificado'].replace(mapeamento)
# Limitar a quantidade de registros para 'Concluso' (1) a 2500

concluso_subset = df[df['classificado'] == 1].sample(n=1500, random_state=100)
other_records = df[df['classificado'] != 1]
df = pd.concat([concluso_subset, other_records])
counts = df['classificado'].value_counts().reset_index()
counts.columns = ['classificado', 'Contagem']
counts_sorted = counts.sort_values(by='Contagem', ascending=True)

ValueError: a must be greater than 0 unless no samples are taken

In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, confusion_matrix
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
# Criar a conexão usando SQLAlchemy

engine = create_engine('mysql+mysqlconnector://root:root@localhost/classificador')
# Executar a query e carregar os dados para um DataFrame

query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)

In [38]:
concluso_subset = df[df['classificado'] == 1].sample(n=1500, random_state=100)
other_records = df[df['classificado'] != 1]
df = pd.concat([concluso_subset, other_records])

ValueError: a must be greater than 0 unless no samples are taken

In [39]:
concluso_subset = df[df['classificado'] == 1].sample(n=1500, random_state=100)
other_records = df[df['classificado'] != 1]

ValueError: a must be greater than 0 unless no samples are taken

In [40]:
counts_sorted = counts.sort_values(by='Contagem', ascending=True)

In [41]:
counts_sorted

    classificado  Contagem
10            11         6
9             10        11
8              6        67
7              8       248
6              9       523
5              7      1110
4              3      1127
3              5      1146
2              4      1258
1              1      1500
0              2      2307

In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, confusion_matrix
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
# Criar a conexão usando SQLAlchemy

engine = create_engine('mysql+mysqlconnector://root:root@localhost/classificador')
# Executar a query e carregar os dados para um DataFrame

query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)
# Mapeamento das classes

mapeamento = {
    'Concluso': 1,
    'Ausência da Parte Adversa': 2,
    'Redesignação': 3,
    'Leitura de Sentença': 4,
    'Acordo Realizado': 5,
    'Audiência Cancelada': 6,
    'PA Gerada Indevidamente': 7,
    'Desistência Ação': 8,
    'Sentença': 9,
    'Suspenso': 10,
    'Recurso Parte Contrária': 11
}
# Troca dos valores na coluna 'classificado' usando o mapeamento

df['classificado'] = df['classificado'].replace(mapeamento)
# Limitar a quantidade de registros para 'Concluso' (1) a 2500

concluso_subset = df[df['classificado'] == 1].sample(n=2000, random_state=100)
other_records = df[df['classificado'] != 1]
df = pd.concat([concluso_subset, other_records])
counts = df['classificado'].value_counts().reset_index()
counts.columns = ['classificado', 'Contagem']
counts_sorted = counts.sort_values(by='Contagem', ascending=True)
df_ordenado = pd.DataFrame()
for classificado in counts_sorted['classificado']:
    df_ordenado = pd.concat([df_ordenado, df[df['classificado'] == classificado]])

df_ordenado.reset_index(drop=True, inplace=True)

In [43]:
counts_sorted

    classificado  Contagem
10            11         6
9             10        11
8              6        67
7              8       248
6              9       523
5              7      1110
4              3      1127
3              5      1146
2              4      1258
1              1      2000
0              2      2307

In [44]:
query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)

In [45]:
df

,textfull,classificado
0,processo 0017827 18 2016 8 19 0209 opoente van...,Concluso
1,procon pau lista pe superintendencia protecao ...,Ausência da Parte Adversa
2,ERRO: Problema na gravação dos dados.,Redesignação
3,governo 90 estado pernambugo hais trabalho fut...,Redesignação
4,prm bcb ma 00002531 2021 ministerio publico fe...,Redesignação
...,...,...
26065,1g a0b ad oejeogel uod0jd oys jgnobedoejeogeld...,Concluso
26066,20 06 2022 10 27 visualizar ata 1 6 sara autar...,Concluso
26067,20 06 2022 10 27 visualizar ata 1 6 sara autar...,Concluso
26068,n 3lnisnv v s 041373 3 si3aow onsidini ojueoug...,Ausência da Parte Adversa
26069,21 06 2022 11 37 visualizar ata procon joao pe...,Ausência da Parte Adversa

In [46]:
counts = df['classificado'].value_counts().reset_index()
counts.columns = ['classificado', 'Contagem']

In [47]:
counts_sorted = counts.sort_values(by='Contagem', ascending=True)

In [48]:
counts_sorted

                 classificado  Contagem
10    Recurso Parte Contrária         6
9                    Suspenso        11
8         Audiência Cancelada        67
7            Desistência Ação       248
6                    Sentença       523
5     PA Gerada Indevidamente      1110
4                Redesignação      1127
3            Acordo Realizado      1146
2         Leitura de Sentença      1258
1   Ausência da Parte Adversa      2307
0                    Concluso     18267

In [49]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.utils import class_weight
from sklearn.metrics import accuracy_score, confusion_matrix
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib
# Criar a conexão usando SQLAlchemy

engine = create_engine('mysql+mysqlconnector://root:root@localhost/classificador')
# Executar a query e carregar os dados para um DataFrame

query = "SELECT textfull, classificado FROM classificador.legado WHERE nomedoc <> 'BASE2'  "
df = pd.read_sql(query, engine)
# Mapeamento das classes

mapeamento = {
    'Concluso': 1,
    'Ausência da Parte Adversa': 2,
    'Redesignação': 3,
    'Leitura de Sentença': 4,
    'Acordo Realizado': 5,
    'Audiência Cancelada': 6,
    'PA Gerada Indevidamente': 7,
    'Desistência Ação': 8,
    'Sentença': 9,
    'Suspenso': 10,
    'Recurso Parte Contrária': 11
}
# Troca dos valores na coluna 'classificado' usando o mapeamento

df['classificado'] = df['classificado'].replace(mapeamento)
# Limitar a quantidade de registros para 'Concluso' (1) a 2500

concluso_subset = df[df['classificado'] == 1].sample(n=6000, random_state=100)
other_records = df[df['classificado'] != 1]
df = pd.concat([concluso_subset, other_records])
counts = df['classificado'].value_counts().reset_index()
counts.columns = ['classificado', 'Contagem']
counts_sorted = counts.sort_values(by='Contagem', ascending=True)
df_ordenado = pd.DataFrame()

In [50]:
counts_sorted

    classificado  Contagem
10            11         6
9             10        11
8              6        67
7              8       248
6              9       523
5              7      1110
4              3      1127
3              5      1146
2              4      1258
1              2      2307
0              1      6000